/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  $color-pack: false,
  $app-bar-background: #842dad,
  $footer-background: #842dad,
  $application-background: #d0a8f0,
  $navigation-drawer-background: #bd86ea,
  $tooltip-background-color: #5d4037,
  $expansion-panel-background-color: #ecdcf9,
  
);

